*{
    outline: none;
}

body{
    background-color: black;  
    overflow-x: hidden;
}

h1{
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

h2{
   font-family: 'Special Elite', cursive;
    color: white;
    font-size: 25px;
}
h3{
   font-family: 'Special Elite', cursive;
    color: white;
    font-size: 15px;
}

h4{
   font-family: 'Special Elite', cursive;
    color: white;
    font-size: 12px; 
}

footer{
    margin-top: 15%;
}
#exitConfig, #exitProc, #exitReg, #exitPerf, #exitScan, #exitMapa{
    width: 50px;
    height: 50px;
    background: url(./assets/img/Salir.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#sectionMenu{
    display: block;
}

#audioGuia{
   width: 110px;
   height: 110px; 
   background: url(./assets/img/Recorrido.png);
   background-repeat: no-repeat;
   background-size: contain;
   border: transparent; 
}

#map {
    width: 100%;
    height: 500px;
  }

#escaner{
    width: 120px;
    height: 80px;
    /*imagen*/
    background: url(./assets/img/Edificios.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent; 
}
#config{
    width: 120px;
    height: 80px;
    /*imagen*/
    background: url(./assets/img/Config.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}
#proceres{
    width: 120px;
    height: 80px;
    /*imagen*/
    background: url(./assets/img/Proceres.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#perfil{
    width: 300px;
    height: 120px;
    /*imagen*/
    background: url(./assets/img/BotonPerfil.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}
#regalos{
    width: 300px;
    height: 120px;
    /*imagen*/
    background: url(./assets/img/BotonRegalo.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#butt_inf{
    margin-top: 20%;
}
#sectionConfig{
    display: none;
}


#sonidos{
    width: 50px;
    height: 50px;
    background: url(./assets/img/On.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#privacidad{
    height: 80px;
    background: url(./assets/img/Politica.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#ayuda{
    height: 80px;
    background: url(./assets/img/Ayuda.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}
#privacidad{
    margin-top: -5%;
}
#cosmo{
    margin-top: -2%;
}
#camaraProc{
    width: 50px;
    height: 50px;
    background: url(./assets/img/Camara.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
}

#sectionProc{
    display: none;
}

table img{
    padding: 4px;
}

#sectionProc table td:active{
    background-color: rgb(131, 14, 14)
}

#fotosProc{
    position: fixed;
    left: 0;
    right: 0;
    top: 90%;
    
    height: 80px;
    background: url(./assets/img/CuadroDB.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
    color: white;
    font-family: 'Special Elite', cursive;
}

#sectionRegalos{
    display: none;
}

#sectionRegalos table input{   
    width: 100px;
    height: 90px;
    background: url(./assets/img/HexRegalo.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 20px;
}


#sectionPerfil{
    display: none;
}

#sectionMapa{
    display: none;
}

#ubi_plaza{
    width: 50px;
    height: 40px;
    background: url(./assets/img/ubicacion.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

#edificios{
    display: none;
    position: absolute;
    top: 15%;
}
#cuadro{
    width: 800px;
    height: 550px;
}
#scocirolli{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
}
#volver{
    background: url(./assets/img/BotonVolver.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent;  
    position: absolute;
    top: 88%;
    left: 0%;
    
}
#ver{
    background: url(./assets/img/BotonVer.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: transparent; 
    position: absolute;
    top: 88%;
    left: 50%;
    
}
#sectionEscaner{
    display: none;
}